# Python
__pycache__/
*.py[cod]
venv/

# Data (Too large for GitHub)
data/*.csv
data/*.parquet
output/*.csv
output/*.parquet

# Models (Exclude if >100MB)
models/*.pkl

# OS / IDE settings
.DS_Store
.vscode/
.idea/
